<h3 class="ui header">{{t "forms.i-i-s-school-запись-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.времяначало
      class=(if (v-get validationModel "времяначало" "isInvalid") "error")
      label=(t "forms.i-i-s-school-запись-e.времяначало-caption")
      data-test-i-i-s-school-запись-e-времяначало=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "времяначало" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.времяконца
      class=(if (v-get validationModel "времяконца" "isInvalid") "error")
      label=(t "forms.i-i-s-school-запись-e.времяконца-caption")
      data-test-i-i-s-school-запись-e-времяконца=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "времяконца" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-school-запись-e.услуги-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.услуги
      displayAttributeName="стоимость"
      autocomplete=true
      relationName="услуги"
      projection="УслугиL"
      title=(t "forms.i-i-s-school-запись-e.услуги-caption")
      readonly=readonly
      componentName="услугиLookup"
      class=(if (v-get validationModel "услуги" "isInvalid") "error")
      data-test-i-i-s-school-запись-e-услуги=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "услуги" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-school-запись-e.клиенты-caption"}}</label>
    {{flexberry-groupedit
      componentName="клиентыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.клиенты
      content=model.клиенты
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "клиенты" "isInvalid") "error")
      data-test-i-i-s-school-запись-e-клиенты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиенты" "message")}}
  </div>
</form>
